<%- include layouts/header.ejs %>

        <div class="page-data">
        <div class="data-btn">
           <button onClick="addOrder()">+ Add Order</button>
         </div>         
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Username</th>
                    <th>CatgoryName</th>
                    <th>productName</th>
                    <th>TotoalAmount</th>
                    <th>Orderdate</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                    <tr>
                        <td align="center"><%=(i+1)%></td>
                        <td align="center"><%=data[i].user%></td>
                        <td align="center"><%=data[i].Category%></td>
                        <td align="center"><%=data[i].product%></td>
                        <td align="center"><%=data[i].totalprice%></td>
                        <td align="center"><%=data[i].orderdate%></td>
                        <td align="center"><%=data[i].status%></td>
                        <td align="center">                       
                            <a class="a-inside delete" href="../order/delete/<%= data[i].orderid %>">Delete</a>
                       
                        </td>
                    </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No data avilable</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
